{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe
{% endblock %}

{% block body %}
	<section class="container" id="form_login">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<h2 class="text-center" id="h1_login">Réinitialiser son mot de passe</h2>

				{{ form_start(resetPasswordForm)}}
				{{ form_row(resetPasswordForm.password) }}
				<button class="btn btn-lg btn-dark mt-3" type="submit">
					Valider
				</button>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				{{ form_end(resetPasswordForm) }}

			</div>
		</div>
	</section>
{% endblock %}
