{% extends 'base.html.twig' %}

{% block title %}PauseCafé{% endblock %}

{% block body %}
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row"
    >
<h2 class="mb-4">Merci pour votre commande !</h2>
<p>Votre commande a été traitée avec succès.</p>
<p>Vous recevrez un e-mail de confirmation sous peu.</p>

<p>Si vous avez des questions, n'hésitez pas à nous contacter.</p>

</div>
  </div>
</section>

{% endblock %}
