/* body {
  background-color: skyblue;
} */

h1 {
  color: #fb986c;
}
header {
  background: url(../styles/image/bg.webp);
  background-size: cover;
}
.text-white-50 {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
}
.lead {
  font-size: 1.8rem;
}
#h1_login {
  color: #664d03;
  margin: 70px auto;
}
#h1_register {
  color: #664d03;
  margin: 70px auto;
}

#form_login {
  margin: 50px auto 200px auto;
}

.active > .page-link {
  background-color: #fb986c;
  border-color: #fb986c;
}

.page-link {
  color: var(--bs-heading-color);
}

.lead {
  background-color: #212529;
  border-radius: 25px;
  width: 50%;
  margin: auto;
}

.fw-normal {
  font-weight: 500 !important;
}

/* searchbar */
.navbar .form-floating > label {
  font-size: 0.875rem;
}

.form-check-switch .form-check-input {
  cursor: pointer;
}

.card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchFilters {
  margin-top: 1rem;
}
