/* body {
  background-color: skyblue;
} */

h1 {
  color: #fb986c;
}
header {
  background: url(../styles/image/bg.webp);
  background-size: cover;
}
.text-white-50 {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
}
.lead {
  font-size: 1.8rem;
}
#h1_login {
  color: #664d03;
  margin: 70px auto;
}
#h1_register {
  color: #664d03;
  margin: 70px auto;
}

#form_login {
  margin: 50px auto 200px auto;
}

.active > .page-link {
  background-color: #fb986c;
  border-color: #fb986c;
}

.page-link {
  color: var(--bs-heading-color);
}
