<P>Bonjour {{ user.firstname }} {{ user.lastname }}</p>

<p>Vous avez demandé à réinitialiser votre mot de passe sur le site PauseCafé.fr.</p>
<p>Pour réinitialiser votre mot de passe, cliquez sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer ce message.</p>
<p>Merci de votre confiance.</p>